<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.instagram.mappers.UserMapper">
    <insert id="insertUser">
        insert into users_tb(phone_number, user_name, id, pw)
        value (#{phoneNumber}, #{userName}, #{userId}, #{userPw})
    </insert>

    <select id="userLogin" resultType="com.example.instagram.models.User">
        select uid, id as userId, pw as userPw, auth
        from users_tb
        where id = #{userId} and deleteyn = 'n'
    </select>

    <update id="deleteUser">
        update users_tb set deleteyn = 'y'
        where uid=#{uid}
    </update>

    <update id="updateUser">
        update users_tb set img=#{img}, introduce=#{introduce}, manwoman=#{manWoman}
        where users_tb.uid=#{uid}
    </update>

    <select id="selectMyData">
        select id as userId, user_name as userName, introduce as introduce, img as img
        from users_tb
        where uid=#{uid}
    </select>

    <select id="selectUser">
        select id as userId, user_name as userName, introduce as introduce
        from users_tb
        where uid=#{uid}

    </select>

    <select id="selectAllUser">
        select uid, id as userId, user_name as userName, introduce as introduce
        from users_tb
        where deleteyn = 'n'

    </select>



</mapper>